/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#navbar {
	background: #213051;
}

#navbar a {
	color: #E88C00;
}

#navbar a:hover {
	color: white;
}

.logo {
	height: 50px;
	padding: 7px;
}

.navbar #name {
	color: white;
}

.alert {
/*	position: absolute;*/
	width: 40%;
	left: 30%;
	margin: auto;
}

.cartTable {
	width: 80%;
	margin: 20px 10%;
	font-size: 16px;
}

.cartTable th, .cartTable tr, .cartTable td {
	border: 2px solid #213051;
	padding: 4px;
}

.cartTable th {
	font-weight: bold;
	font-size: 22px;
  text-align: center;
}

.errorsList {
	width: 50%;
	margin-left: 25%;
	list-style: none;
	background: rgba(255,0,0,.6);
}