// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	text-align: center;
	font-family: "Futura", sans-serif;
}

h1 {
	/*text-decoration: underline;*/
}

body {
	background: url(retina_wood.png);
}

.indexHeading {
	font-family: 'Lobster', cursive;
	font-size: 70px;
	color: #213051;
}

.productDiv {
	margin: 20px 0;
}

.redFont {
	color: red;
}

#searchDiv {
	/*width: 250px;*/
	margin-top: 10px;
/*	height: 40px;*/
	display: inline-block;
}

#search {
	width: 180px;
}

.productImage {
	border: 3px solid #213051;
	border-radius: 5px;
}